@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;500&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
#card-img {
    margin: 1px;
    width: 12rem;
    height: 250px;
}
h5 {
    font-size: 14px;
    font-weight: 600;
}
.btn-success {
    width: 160px;
}

#pp {
    position: relative;
    overflow: hidden;
}

.bbtn {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%);
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.bbtn:hover {
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%);
    color: #0066cc;
    border: solid 2px #0066cc;
  }

